@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format(truetype);
  font-weight: 100 900;
}
.calculator_text-box-grade, .hero_header {
  font-size: 48px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 110%;
}

.calculator_units, .calculator_input, .calculator_header {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 110%;
}

.hero_text {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
}

.calculator_text-box-header, .calculator .calculator_custom-radio [type=radio]:checked + .calculator_custom-radio-text,
.calculator .calculator_custom-radio [type=radio]:not(:checked) + .calculator_custom-radio-text {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 150%;
}

.calculator_text-box-text, .calculator_parameters-header {
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
}

.hero {
  background-image: linear-gradient(to bottom right, rgba(214, 252, 254, 0), #d6e6fe);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  height: 640px;
}
.hero_icon {
  display: block;
  width: 40px;
}
.hero_icon--center {
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
.hero_header {
  color: #253347;
  text-align: center;
  margin: 0;
}
.hero_header--indent {
  margin-top: 24px;
}
.hero_text {
  color: #5e6e85;
  text-align: center;
  margin: 0;
}
.hero_text--indent {
  margin-top: 24px;
}

.calculator {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
  position: absolute;
  margin-top: 48px;
  left: 24px;
  right: 24px;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.1450980392);
}
.calculator_header {
  color: #253347;
  margin: 0;
  letter-spacing: -0.05em;
}
.calculator_calculation-system {
  display: flex;
  justify-content: space-between;
}
.calculator_calculation-system--indent {
  margin-top: 24px;
  margin-bottom: 24px;
}
.calculator .calculator_custom-radio [type=radio]:checked,
.calculator .calculator_custom-radio [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.calculator .calculator_custom-radio [type=radio]:checked + .calculator_custom-radio-text,
.calculator .calculator_custom-radio [type=radio]:not(:checked) + .calculator_custom-radio-text {
  color: #253347;
  cursor: pointer;
  display: inline-block;
}
.calculator .calculator_custom-radio [type=radio] + .calculator_custom-radio-text:before {
  content: "";
  vertical-align: top;
  position: relative;
  top: -0.2em;
  margin-right: 1.125em;
  width: 31px;
  height: 31px;
  background-color: #ffffff;
  border-radius: 100%;
  border: 1px #d8e2e7 solid;
  display: inline-block;
}
.calculator .calculator_custom-radio [type=radio]:hover + .calculator_custom-radio-text:before {
  border: 1px #345ff6 solid;
}
.calculator .calculator_custom-radio [type=radio]:checked + .calculator_custom-radio-text:before {
  border: 8px #d8e2e7 solid;
  background-color: #345ff6;
}

.calculator_parameters-header {
  color: #5e6e85;
  margin: 0;
}

.calculator_parameters-header--indent {
  margin-bottom: 8px;
}

.calculator_box-input {
  position: relative;
}

.calculator_input {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 3em;
  width: 100%;
  border-radius: 12px;
  border: 1px #d8e2e7 solid;
  outline: none;
  color: #253347;
  letter-spacing: -0.05em;
}

.calculator_input--indent {
  margin-bottom: 16px;
}

.calculator_units {
  color: #345ff6;
  position: absolute;
  right: 1em;
  top: 0.84em;
}

.calculator_form--indent {
  margin-bottom: 24px;
}

.calculator_text-box {
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  background-image: linear-gradient(to right, #345ff6, #587dff);
}

.calculator_text-box-header {
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.calculator_text-box-grade {
  color: #ffffff;
  margin-bottom: 24px;
}

.calculator_text-box-text {
  color: #ffffff;
}

.calculator_bolt-text {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */