.guidance {
  margin-bottom: 72px;
  background-image: $brand-gradient;

  padding-left: 19px;
  padding-right: 29px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.guidance_box {
  margin-bottom: 40px;
}

.guidance_box:last-child {
  margin-bottom: 0;
}

.guidance_image {
  margin-bottom: 32px;
}

.guidance_header {
  @extend %headingM;
  color: $header-text;
  margin: 0;
  margin-bottom: 24px;
}

.guidance_text {
  @extend %bodyM;
  color: $text-color;

  margin: 0;
}

@media (min-width: 768px) {
  .guidance {
    margin-bottom: 96px;

    padding-left: 39px;
    padding-right: 43px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .guidance_box {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .guidance_image {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .guidance {
    display: flex;
    gap: 32px;

    margin-bottom: 120px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 35px;

    padding-left: 116px;
    padding-right: 117px;
    padding-top: 72px;
    padding-bottom: 96px;
  }

  .guidance_box {
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;

    flex-basis: calc((100% - 64px) / 3);
  }
}
