.container {
  padding-left: 24px;
  padding-right: 24px;
}

.hero {
  background-image: $brand-gradient;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  height: 640px;

  &_icon {
    display: block;
    width: 40px;

    &--center {
      padding-top: 32px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &_header {
    @extend %headingL;
    color: $header-text;
    text-align: center;
    margin: 0;

    &--indent {
      margin-top: 24px;
    }
  }

  &_text {
    @extend %bodyM;
    color: $text-color;
    text-align: center;
    margin: 0;

    &--indent {
      margin-top: 24px;
    }
  }
}

.calculator {
  padding: 24px;
  background-color: $white;
  border-radius: 16px;
  position: absolute;
  margin-top: 48px;
  left: 24px;
  right: 24px;

  box-shadow: 16px 32px 56px $shadow;

  &_header {
    @extend %headingM;
    color: $header-text;
    margin: 0;
    letter-spacing: -0.05em;
  }

  &_calculation-system {
    display: flex;
    justify-content: space-between;

    &--indent {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }

  .calculator_custom-radio [type="radio"]:checked,
  .calculator_custom-radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  .calculator_custom-radio
    [type="radio"]:checked
    + .calculator_custom-radio-text,
  .calculator_custom-radio
    [type="radio"]:not(:checked)
    + .calculator_custom-radio-text {
    @extend %bodyMBold;
    color: $header-text;

    cursor: pointer;
    display: inline-block;
  }

  .calculator_custom-radio
    [type="radio"]
    + .calculator_custom-radio-text:before {
    content: "";
    vertical-align: top;
    position: relative;
    top: -0.2em;
    margin-right: 1.125em;
    width: 31px;
    height: 31px;
    background-color: $white;
    border-radius: 100%;
    border: 1px $borders solid;
    display: inline-block;
  }

  .calculator_custom-radio
    [type="radio"]:hover
    + .calculator_custom-radio-text:before {
    border: 1px $second-brand-color solid;
  }

  .calculator_custom-radio
    [type="radio"]:checked
    + .calculator_custom-radio-text:before {
    border: 8px $borders solid;
    background-color: $second-brand-color;
  }
}

.calculator_parameters-header {
  @extend %bodyS;
  color: $text-color;
  margin: 0;
}

.calculator_parameters-header--indent {
  margin-bottom: 8px;
}

.calculator_box-input {
  position: relative;
}

.calculator_input {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 3em;
  width: 100%;
  border-radius: 12px;
  border: 1px $borders solid;
  outline: none;
  cursor: pointer;

  @extend %headingM;
  color: $header-text;
  letter-spacing: -0.05em;
}

.calculator_input:invalid {
  border: 1px red solid;
}

.calculator_input:hover {
  border: 1px $second-brand-color solid;
}

.calculator_inputImperial {
  padding-right: 2.6em;
}

.calculator_input--indent {
  margin-bottom: 16px;
}

.calculator_units {
  @extend %headingM;
  color: $second-brand-color;

  position: absolute;
  right: 1em;
  top: 0.84em;
}

.calculator_form--indent {
  margin-bottom: 24px;
}

.calculator_text-box {
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  background-image: $second-brand-gradient;
}

.calculator_welcome-box {
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  background-image: $second-brand-gradient;
}

.calculator_result-header {
  margin-bottom: 24px;
}

.calculator_text-box-header {
  @extend %bodyMBold;
  color: $white;
  margin: 0;
  margin-bottom: 8px;
}

.calculator_text-box-grade {
  @extend %headingL;
  color: $white;
}

.calculator_text-box-text {
  @extend %bodyS;
  color: $white;
  margin: 0;
}

.calculator_bolt-text {
  font-weight: bold;
}

.calculator_param--indent {
  margin-bottom: 24px;
}

.calculator_box-imperial {
  display: flex;
  gap: 16px;
}

.calculator_warning {
  @extend %bodyS;
  color: red;
}

.calculator_welcome-header {
  @extend %headingM;
  color: $white;
  margin: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 43px;
  }

  .hero {
    &_header {
      &--indent {
        margin-top: 40px;
        padding-left: 150px;
        padding-right: 150px;
      }
    }
  }

  .calculator {
    padding: 32px;
    margin-top: 40px;
    left: 39px;
    right: 43px;

    &_calculation-system {
      display: flex;
      justify-content: flex-start;
      gap: 24px;

      &--indent {
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
  .calculator_custom-radio {
    flex-basis: calc((100% - 24px) / 2);
  }

  .calculator_input--indent {
    margin-bottom: 0;
  }

  .calculator_text-box {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .calculator_result-header {
    width: 100%;
    margin-bottom: 0;
  }

  .calculator_text-box-text {
    width: 100%;
  }

  .calculator_param {
    display: flex;
    gap: 24px;
  }

  .calculator_param--indent {
    margin-bottom: 32px;
  }

  .calculator_box-imperial--indent {
    margin-bottom: 24px;
  }

  .calculator_welcome-box {
    width: 100%;
    border-radius: 16px;
    padding: 32px;
    background-image: $second-brand-gradient;

    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-left: 1.5em;
    margin-right: 27.3em;
    padding-left: 7.25em;
    padding-right: 18.6em;
  }

  .hero {
    position: relative;
    height: 737px;

    &_icon {
      display: block;
      width: 64px;

      &--center {
        padding-top: 75px;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &_header {
      font-size: 64px;
      font-family: $mainFont;
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.05em;

      color: $header-text;
      text-align: left;
      margin: 0;

      &--indent {
        margin-top: 127px;
        padding-left: 0;
        padding-right: 100px;
      }
    }

    &_text {
      @extend %bodyM;
      color: $text-color;
      text-align: left;
      margin: 0;

      &--indent {
        margin-top: 35px;
        padding-right: 99px;
      }
    }
  }

  .calculator {
    margin-top: 0;
    top: 166px;
    left: 712px;
    right: -298px;
  }

  .calculator_custom-radio {
    width: auto;
  }

  .calculator_text-box-grade {
    font-size: 64px;
    font-family: $mainFont;
    font-weight: 600;
    line-height: 110%;
  }

  .calculator_welcome-box {
    width: 100%;
    border-radius: 16px;
    padding: 32px;
    background-image: $second-brand-gradient;

    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }
}
