.limitation--indent {
  margin-left: 19px;
  margin-right: 29px;
  margin-bottom: 96px;
}

.limitation_headHeader {
  @extend %headingLM;
  color: $header-text;
  text-align: center;

  letter-spacing: -0.05em;
  margin: 0;
  margin-bottom: 32px;
}

.limitation_headText {
  @extend %bodyM;
  color: $text-color;

  text-align: center;
  margin: 0;
}

.limitation_headBox {
  margin-bottom: 56px;
}

.limitation_box {
  background-color: #ffffff;
  box-shadow: 16px 32px 56px #8faecf25;
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 24px;
}

.limitation_box:last-child {
  margin-bottom: 0;
}

.limitation_boxImage {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-bottom: 16px;
}

.limitation_header {
  @extend %headingS;
  margin: 0;
}

.limitation_text {
  @extend %bodyM;
  color: $text-color;
  margin: 0;
}

.limitation_line {
  display: none;
}

@media (min-width: 768px) {
  .limitation--indent {
    margin-left: 39px;
    margin-right: 43px;
    margin-bottom: 96px;
  }

  .limitation_grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 15px;
    justify-content: center;
  }

  .limitation_box {
    flex-basis: calc((100% - 15px) / 2);
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .limitation {
    position: relative;
  }

  .limitation_headBox {
    position: absolute;
    width: 564px;
    margin: 0;
  }

  .limitation_headHeader {
    font-size: 48px;
    margin-bottom: 35px;
    text-align: left;
  }

  .limitation_headText {
    text-align: left;
  }

  .limitation--indent {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
  }

  .limitation_grid {
    justify-content: flex-end;
    column-gap: 32px;
  }

  .limitation_box {
    flex-basis: 365px;
  }

  .limitation_box:first-child {
    margin-left: 600px;
    margin-right: 99px;
    margin-bottom: 6px;
  }

  .limitation_box:nth-child(2) {
    margin-left: 200px;
  }

  .limitation_box:last-child {
    margin-right: 299px;
  }

  .limitation_line {
    display: block;
    position: absolute;

    top: 251px;
    left: 165px;
  }
}
