%headingXL {
  font-size: 64px;
  font-family: $mainFont;
  font-weight: 600;
  line-height: 110%;
}

%headingL {
  font-size: 48px;
  font-family: $mainFont;
  font-weight: 600;
  line-height: 110%;
}

%headingLM {
  font-size: 32px;
  font-family: $mainFont;
  font-weight: 600;
  line-height: 110%;
}

%headingM {
  font-size: 24px;
  font-family: $mainFont;
  font-weight: 600;
  line-height: 110%;
}

%headingS {
  font-size: 20px;
  font-family: $mainFont;
  font-weight: 600;
  line-height: 110%;
}

%bodyM {
  font-size: 16px;
  font-family: $mainFont;
  font-weight: 400;
  line-height: 150%;
}

%bodyMBold {
  font-size: 16px;
  font-family: $mainFont;
  font-weight: 600;
  line-height: 150%;
}

%bodyS {
  font-size: 14px;
  font-family: $mainFont;
  font-weight: 400;
  line-height: 150%;
}
